Write a program that checks if a number entered by user is divisible by both 2 and 3

In [2]:
number = int(input("enter a number:"))
if number % 2 == 0 and number % 3 == 0:
  print(f"{number} is divisible by both 2 and 3.")
else:
  print(f"{number} is not divisible by both 2 and 3.")

enter a number:5
5 is not divisible by both 2 and 3.

Write a python program this print "Hello" if a number is greater than 10, otherwise print "Good bye".

In [3]:
number = int(input("enter a number:"))
if number > 10:
  print("hello")
else:
  print("goodbye")

enter a number:14
hello

Write a program to find out if a number is divisible by 5 but not by 10.

In [4]:
number = int(input("enter a number:"))
if number % 5 == 0 and number % 10 != 0:
  print(f"{number} is divisible by 5 but not by 10.")
else:
  print(f"{number} does not meet the condition.")

enter a number:20
20 does not meet the condition.

Write a program to find whether a number is between 100 and 200(inclusive)

In [5]:
number = int(input("enter a number:"))
if 100 <= number <= 200:
  print(f"{number} is betweeen 100 and 200 inclusive.")
else:
  print(f"{number} is not between  100 and 200 inclusive")

enter a number:120
120 is betweeen 100 and 200 inclusive.

write a program to find whether a number is between 50 and 100(exclusive)

In [6]:
number = int(input("enter a number:"))
if 50 < number < 100:
  print(f"{number} is between 50 and 100 exclusive.")
else:
  print(f"{number} is not between 50 and 100 exclusive.")

enter a number:50
50 is not between 50 and 100 exclusive.

Write a program to print a message if a number is greater than 100 but less than 500

In [7]:
number = int(input("enter a number:"))
if 100 < number < 500:
  print(f"{number} is greater than 100 but les than 500.")
else:
  print(f"{number} is not in the range 101 and 499.")

enter a number:50
50 is not in the range 101 and 499.

Write a program to print all numbers from 1 to 10 using a for loop

In [8]:
for number in range (1,11):
  print(number)

1
2
3
4
5
6
7
8
9
10

Write a program to print the first 10 even numbers using for a loop

In [10]:
for i in range (1,11):
 print(i*2)

2
4
6
8
10
12
14
16
18
20

Write a program to sum all the numbers from 1 to 100 using for loop

In [12]:
total = 0
for number in range (1,101):
  total += number
print("the sum of numbers from 1 to 100 is:", total)

the sum of numbers from 1 to 100 is: 5050

Write a program to print the multiplication table of 7 using a for loop

In [13]:
for i in range (1,11):
  print(f"7 * {i} = {7 * i}")

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

Write a program to reverse a string using a while loop

In [16]:
string = input("enter a string: ")
reversed_string = ""
index = len(string) - 1
while index >= 0:
  reversed_string += string[index]
  index -=1
print("the reversed string:", reversed_string)

enter a string: "POOJA_PUJERI"
the reversed string: "IREJUP_AJOOP"

Write a program to print all odd numbers from 1 to 20 using while loop

In [17]:
number = 1
while number <= 20:
  print(number)
  number += 2

1
3
5
7
9
11
13
15
17
19

Write a program to count the number of specific character appears in a string using a loop

In [20]:
string = input("enter a string:")
char_to_count = input("enter the character to count:")
count = 0
for char in string:
  if char == char_to_count:
    count += 1
print(f"the character'{char_to_count}' appears {count} times in the string.")

enter a string:"pooja_p"
enter the character to count:5
the character'5' appears 0 times in the string.

Write a program to print a pattren of stars (loop)

In [21]:
rows = int(input("enter the number of rows for the pattern:"))
for i in range(1, rows + 1):
  print("*" * i)

enter the number of rows for the pattern:6
*
**
***
****
*****
******

Write a program to print the sum of all even numbers from 1 to 50 using a for loop

In [25]:
total_sum = 0
for number in range (2, 51, 2):
  total_sum += number
print("The sum of all even numbers from 1 to 50 is:", total_sum)

The sum of all even numbers from 1 to 50 is: 650